/* GENERALI */
*, *::before,*::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    cursor: pointer;
}
html{
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
}
hr{
    border: #E9E6E3 solid 1px;
}
/* HEADER */
.container{
    background-color: #ffc017;
}
.maxWidth{
    max-width: 70rem;
    margin-inline: auto;
}
.navbar{
    border-bottom: 1px solid black;
    position: fixed;
    width: 100vw;
    padding: 1rem;
    z-index: 100;
    transition: background-color 2s ease;
}

header div nav{
    justify-content: space-between;
    align-items: center;
}

header div nav ul{
    list-style-type: none;
}
header div nav ul li{
    display: inline-block;
    padding: 0.5rem 0.8rem;
}
.flex{
    display: flex;
}
.getstarted, #startReading{
    background-color: #191919;
    color: #FFFFFF;
    border-radius: 100px;
    border: none;
    transition: background-color 2s ease;
}
#startReading{
    padding: 0.5rem 0.8rem;
    text-wrap: nowrap;
}
#startReading:hover{
    cursor: pointer;
}

 .hero {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 }
.container.mBackground{
    /* padding:7rem 6rem 4rem 6rem; */
    overflow: hidden;
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-top: 4rem;
    position: relative;
}
header h1{
    font-family: "Spectral", serif;
    font-size: 5rem;
    font-weight: 500;
    text-wrap: nowrap;
}
header h2{
    margin-top: 3rem;
    margin-bottom: 3rem
}
.narrow{
    max-width: 60%;
}
.svg{
    position: absolute;
    right: 0;
    top: 40px;
    
    width: 31rem;
}

/* MAIN */

.trending h3{
display: flex;
align-items: center;
gap: 0.5rem;
margin-top: 2rem;
margin-bottom: 1rem;
}
.propic.round img{
    border-radius:50%
}
.propic.square img{
    border-radius:10px;
}
.trendingContainer{
    width: 30%;
}
.number{
    padding-right: 0.5rem;
    font-size: 2rem;
    color: #E9E6E3;
    font-weight: 900;
}
.content{
    flex-direction: column;
    gap: 0.8rem;
    justify-content: flex-start;
    
}
.user{
    justify-content: flex-start;
    gap:0.5rem;
    align-items: center;
    font-weight: 600
}
.articleTitle{
    font-weight: 900;
}
.caption{
    color: #757575;
    display: flex;
    align-items: center;
}
.trendingContainerBig{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    margin-bottom: 2rem;
}
.user span{
    color: #757575;
}
.star::after{
    content: url(../imgs/svg/star.svg);
}
.mBackground .maxWidth{
    margin-top: 65px;
}
/* ARTICLE */
article{
    width: 60%;
    padding-right: 4em;
}
article .articleTitle{
    font-size: 1.0rem;
}
.contentBig{
    gap: 1em;
}
.contentBig>img{
max-width: 30%;
object-fit:contain;
}
.paragraph{
    color: #757575;
}
article .user img{
    border: 2px solid #F2F3F3;
}

.contentBig .caption span{
    display: inline-block;
    background-color: #F2F3F3;
    border-radius: 20px;
    padding: 0.4rem 0.7rem;
}
.contentBig .content {
    margin: 1.5rem 0;
}
.contentBig .caption::after{
    content: url(../imgs/svg/star.svg);
}
.bookmark::after{
    content: url(../imgs/svg/bookmark.svg);
}
.bookmark{
    justify-content: space-between;
}
/* ASIDE */
aside{
    width: 40%;
    position: sticky;
    height: 100%;
    top: 52.17px;
    background-color: white;
}
aside h3 {
    font-weight: 900;
    margin-top: 2rem;
}
aside ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 0.3em;
}
aside>ul li{
    border: #F2F3F3 2px solid;
    color: #757575;
    padding: 0.5rem 0.5rem;
    border-radius: 2px;
    text-wrap: nowrap;
}
aside hr{
    margin: 1em 0;
}

/* FOOTER */
footer{
    color: #757575;
}
footer ul{
    gap: 1em;
}
.changeColor{
    background-color: white;
}
.changeColor .getstarted {
    background-color: #1a8917;
}
/* MEDIA QUERY */
@media screen and (max-width: 900px) {
    .maxWidth{
        margin-inline: 66px;
    }
}
@media screen and (max-width: 768px) {
    nav a:not(.mainItem){
        display: none;
    }
    .trendingContainer{
        width: 45%;
    }
    aside{
        order: -1;
        width: unset;
        margin-inline: auto;
    }
    article{
        width: unset;
        
        
    }
    article .contentBig .content {
        width: 50%;
    }
    article .contentBig>img{
        max-width: 40%;
        align-self: flex-end;
    }
    .artaside{
        flex-direction: column;
        position: relative;
    }
    .svg{
        display: none;
    }
}
@media screen and (max-width: 576px) {
    nav a:not(:last-child){
        display: none;
    }
    .trendingContainer{
        width: 100%;
    }
}
